<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="<%= " Job as a " + job.title %>">
    <meta name="twitter:title" content="<%= " Want to be a " + job.title + " ? Click here!" %>">
    <meta property="og:title" content="<%= " Want to be a " + job.title + " ? Click here!" %>">
    <title>
        <%= job.title %>
    </title>
    
    <%- include ('partials/header') -%>
</head>

<body>

    <div id="job-desc">
        <h4>Job Title: <%= job.title %></h4>
        <p>Location: <%= job.location %></p>
        <p>Company : <%= job.company %></p>
        <p>Type : <%= job.type %></p>

        <p>ctgs</p>
        <ul>
            <% job.ctgs.forEach(ctg=> { %>
                <li class="ctg-item">
                    <p>
                        <%= ctg %>
                    </p>
                </li>
            <% }); %>
        </ul>
    </div>
    
    <script>
        window.jobs = JSON.parse('<%- JSON.stringify(jobs) %>');
    </script>

    <div id="app"></div>

    <%- include ('partials/scripts') -%>
</body>

</html>