<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="<%= " Job as a " + job.title %>">
    <meta name="twitter:title" content="<%= " Want to be a " + job.title + " ? Click here!" %>">
    <meta property="og:title" content="<%= " Want to be a " + job.title + " ? Click here!" %>">
    <title>
        <%= job.title %>
    </title>
    <link href="/css/chunk-25f6f0ec.0159b32e.css" rel="prefetch" />
    <link href="/css/chunk-34885aae.887bfb4a.css" rel="prefetch" />
    <link href="/css/chunk-56a8e4be.cfc5dc03.css" rel="prefetch" />
    <link href="/js/chunk-25f6f0ec.f9ce3193.js" rel="prefetch" />
    <link href="/js/chunk-34885aae.b56c3340.js" rel="prefetch" />
    <link href="/js/chunk-56a8e4be.860f758b.js" rel="prefetch" />
    <link href="/css/app.ef186402.css" rel="preload" as="style" />
    <link href="/js/app.2e2cf849.js" rel="preload" as="script" />
    <link href="/js/chunk-vendors.d44dec88.js" rel="preload" as="script" />
    <link href="/css/app.ef186402.css" rel="stylesheet" />
</head>

<body>

    <div id="job-desc">
        <h4>Job Title: <%= job.title %></h4>
        <p>Location: <%= job.location %></p>
        <p>Company : <%= job.company %></p>
        <p>Type : <%= job.type %></p>

        <p>ctgs</p>
        <ul>
            <% job.ctgs.forEach(ctg=> { %>
                <li class="ctg-item">
                    <p>
                        <%= ctg %>
                    </p>
                </li>
            <% }); %>
        </ul>
    </div>
    
    <script>
        window.jobs = JSON.parse('<%- JSON.stringify(jobs) %>');
    </script>

    <div id="app"></div>
    <script src="/js/chunk-vendors.d44dec88.js"></script>
    <script src="/js/app.2e2cf849.js"></script>

</body>

</html>