<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="List of jobs">
    <meta name="twitter:title" content="Check out our jobs">
    <meta property="og:title" content="Check out our jobs">
    <title>Job list</title>

    <%- include ('partials/header') -%>
</head>

<body>
    <h2>Job List</h2>
    <ul class="job-list">
        <% jobs.forEach(job=> { %>
            <li>
                <a href="<%= " /job/" + job._id %>"> <%= job.title %> </a>
            </li>
            <% }); %>
    </ul>
    <div id="app">
    </div>

    <script>
        window.jobs = JSON.parse('<%- JSON.stringify(jobs)%>');
    </script>

    <%- include ('partials/scripts') -%>
</body>

</html>